# Quartus project files
*.qpf
*.qsf
*.qpf.user
*.qsf.user
*.qws

# Quartus build outputs
*.sof
*.pof
*.jdi
*.pin
*.done

# Quartus reports
*.summary
*.smsg
*.rpt
*.fit.*
*.map.*
*.sta.*

# Temp / backups
*.bak
*.vmf.temp
*.csv

# Quartus directories
db/
incremental_db/
simulation/
output_files/

# OS junk
.DS_Store
Thumbs.db
